.keyWords {
  /* margin: 5vh; */
  height: 95vh;
  overflow-y: hidden;
}

.keyWords__form-input {
  width: 30vw;
  border: none;
  border-bottom: 2px solid grey;
  transition: 0.3s;
  margin: 10px;
}
.keyWords__form-input:focus {
  border-bottom: 2px solid rosybrown;
}

.kewWords__skills__list-el {
  padding-top: 15px;
}

.keyWords__form-button {
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;

  text-align: center;

  width: 35vw;
  min-width: 300px;
  max-width: 450px;

  font-size: 18px;
  font-weight: lighter;

  background-color: var(--secondarydark);
  color: white;
  border-radius: 5px;

  transition: 0.7s;
  /* box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2); */
}

.keyWords__form-button:hover {
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.4);
  color: white;
}

.keyWords__skills__list-header {
  font-weight: bold;
}
