@import '~antd/dist/antd.css';

#ChatKeyWords {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 10px;   
    
}

#ChatKeyWords code {
    background-color: var(--secondarydark);
    color: white;
    border: 1px solid white;
    opacity: 0.85;
}