@import "~antd/dist/antd.css";

section {
  background: transparent;
}

.mainView {
  padding: 0;
  /* background: var(--primary); */
  flex-grow: 1;
  height: 100%;
}

.mainView__cardList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mainView__cardList-el {
  width: 90%;
  margin-top: 20px;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .mainView__cardList {
    align-items: center;
  }
  
  .mainView__cardList-el {
    width: 60%;
  }
}

