.mainView {
  padding: 0;
  cursor: pointer;
}

.mainView__cardList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainView__cardList-el {
  width: 80%;
  margin-top: 20px;
}
