#chat-main {
   flex-grow: 1;
   border-top: 1px solid #e8e8e8;
   position: relative;
}

#chat-main form {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

#chat-main .chat-window {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   overflow: auto;
   padding: 0 15px;
   position: relative; 
   padding-top: 10px;
   border-top: 8px solid var(--primarydark);
   border-bottom: 8px solid var(--primarydark);
   
}

#chat-main .output {
   flex-grow: 1;
   height: 100%;
   position: absolute;
   top: 0;
}

#chat-main .chat-send {
   display: flex;
   height: 44px;
   flex-shrink: 0;
   border: 1px solid #e8e8e8;
   position: relative;
}

#chat-main input[type='text'] {
   flex-grow: 1;  
   font-size: 16px;
   padding: 0 10px;
   border: none;
}

#chat-main input[type='submit'] {
   font-size: 16px;
   padding: 0 15px;
   border: none;
   background-color: rgb(204,204,204);
   color: white;
   font-size: 20px;
   position: absolute;
   top: -1px;
   right: -1px;
   height: 44px;
   cursor: pointer;
}

#chat-main input[type='submit']:hover {
   background-color: var(--fancy);
}