@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap");

:root {
  --primary: #62cca4;
  --primarydark: #5fb393;
  --secondary: #e894ff;
  --secondarydark: #a761ba;
  --fancy: #ffe7ad;
}

body,
p,
form,
input,
button {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Overpass Mono", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  list-style: none;
  overflow-y: hidden;
}

#root {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
