@import "./App.css";
@import "~antd/dist/antd.css";

#login{
  background-image: url('mbc.jpg');
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--primarydark);
  flex-grow: 1;
}

.form > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  color:white;
  margin-bottom: 20px;
  font-size: 28px;
}

.form form {
  text-align: center;
}

.form form > div {
  margin: 10px 0;
}

.form form .error {
  bottom: 0;
  left: 0;
  font-size: 12px;
  margin-bottom: 10px;
}

.form input {
  width: 280px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  height: 45px;
}

.form input[type="submit"], .toRegisterButton {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;

    margin-bottom: 18px;
    height: 45px;

    width: 280px;

    font-size: 18px;
    font-weight: lighter;


    background-color: var(--secondarydark);
    color: white;
    border-radius: 5px;

    transition: .7s;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
}

/* .toRegisterButton {
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  width: auto;
  padding: 5px 20px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  transition: 0.3s;
} */

.toRegisterButton:hover {
  background-color: blue;
}

.form input[type="submit"]:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.4);
    color:white;
}

.toLoginButton {
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  width: auto;
  padding: 5px 20px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.toLoginButton:hover {
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.4);
  color:white;
}

.login-title {
  font-size: 2em;
  color: white;
}