@import './App.css';

body {
    background-image: url('mbc.jpg');
    background-size: cover;
}

.logout-view {
    height: 100vh;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-info {
    color: white;
    text-align: center;
}

.back-to-main {
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;

    text-align: center;

    width: 35vw;
    min-width: 300px;
    max-width: 450px;

    font-size: 18px;
    font-weight: lighter;


    background-color: var(--secondarydark);
    color: white;
    border-radius: 5px;

    transition: .7s;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
}

.back-to-main:hover {
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.4);
    color:white;
}