section{
    background: var(--primarydark);
    border: transparent;
}

.burger {
    background: var(--fancy);
    margin: 10px;
    border: 1px solid var(--secondary);
}

.burger:hover{ 
    background: var(--secondary);
    border: 1px solid var(--fancy);
}

.burger:focus {
    background: var(--fancy);
    border: 1px solid var(--secondary);
}