@import '../../node_modules/rpg-awesome/css/rpg-awesome.min.css';

section{
    background: var(--primarydark);
    border: transparent;
}

.burger {
    background: var(--fancy);
    margin: 10px;
    border: 1px solid var(--secondary);
}

.burger:hover{ 
    background: var(--secondary);
    border: 1px solid var(--fancy);
}

.burger:focus {
    background: var(--fancy);
    border: 1px solid var(--secondary);
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
    background: var(--fancy);
}

li.ant-menu-item.ant-menu-item-selected a::before {
  
}

li.ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 2px solid var(--secondarydark) !important;
        background: var(--fancy);  
}

li.ant-menu-item:hover {
    border-bottom: 2px solid var(--secondarydark) !important;
}

li.ant-menu-item:hover {
    color: var(--secondarydark) !important;
}

.menu-rpg .ra {
    margin-right: 8px;
}