@import '~antd/dist/antd.css';
#ChatUserDataCard{
    display: flex;
    width: 100%;
    padding: 15px;
    /* border: solid 2px black;s */
    /* box-sizing: border-box; */
    background-color: transparent;
    border: none;
}

#ChatUserDataCard h1 {
    color: white;
}

#avatar {
    height: 100%;

}
#UserText{ 
    display: inline-block;
    margin-left: 2rem;
}
